#
# Ci-dessous les variables pour configurer les conteneurs de abes-hello
# Marche à suivre:
#   il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#

# Version de l'application à déployer
# ces numéros doivent correspondre à des tag docker
# que l'on trouve ici https://hub.docker.com/r/abesesr/abes-hello/tags
# Ex: "1.0.0-front", "1.0.0-web", et "1.0.0-batch"
# Il est aussi possible de positionner des 
# tag "glissants" par exemple quand on déploie sur
# les serveurs de dev et test.
# Ex: "develop-front", "develop-web" et "develop-batch"
#     qui aura pour effet de déployer le dernier commit
#     git pushé sur la branch develop
ABESHELLO_FRONT_VERSION=develop-front
ABESHELLO_WEB_VERSION=develop-web
ABESHELLO_BATCH_VERSION=develop-batch


# Port réseau pour les serveurs web
# du back et du front qui seront forwardés
# sur le serveur hote
ABESHELLO_FRONT_HTTP_PORT=7080
ABESHELLO_BACK_HTTP_PORT=7081


# Config du front
# ABESHELLO_VUE_APP_ROOT_API: c'est l'URL publique de la racine de l'API du back
# que voit l'utilisateur dans son navigateur web. L'URL est différente
# en fonction de si on interroge un back en dev,test, ou prod.
# Voici des exemples d'URLs:
# https://hello.abes.fr/api
# https://hello-test.abes.fr/api
# https://hello-test.abes.fr/api
# http://127.0.0.1:7081/api
# http://diplotaxis-test.v202.abes.fr:7081/api
# http://diplotaxis-dev.v212.abes.fr:7081/api
ABESHELLO_VUE_APP_ROOT_API=https://hello-test.abes.fr/api

# Config des batchs
ABESHELLO_BATCH_AT_STARTUP=1
ABESHELLO_BATCH_CRON=0 * * * *

# Config java spring commune au batch et au web
# qui viennent surcharger la config des fichiers application.properties
# (les secret ci-dessous servent d'exemple et doivent être changés 
# dans le .env pour déployer l'appli)
# SPRING_PROFILES_ACTIVE vaut dev, test ou prod et permet de charger
# application-dev.properties application-test.properties ou application-prod.properties
SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:h2:file:~/data/testdb
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=password
JWT_TOKEN_SECRET=eyJhbGciOiJIUzI1NiJ9
